/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */

*{
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 5% 15% 50% 10% 5%;
    width: 100%;
    height: 100%;
}

.desciprtion{
    grid-row: 2/3 ;
    grid-column: 2/3 ;
    width: 100%;
    height: 100%;
    text-align: center;
}

.game{
    grid-row: 3/4;
    grid-column: 2/3 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.table{
    width: 300px;
    height: 300px;
    background:gray;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
    margin-top:20px;  
    border: 3px solid black; 
}

.table:hover{
    animation-name: tableHov;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes tableHov{ 
    100%{
        transform: scale(1.1);
    }
}



.box{
    border: 3px solid black;
    background-color: rgb(73, 73, 73);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.box:hover{
    background-color: rgba(73, 73, 73, 0.356);
    border-radius: 10%;
}

.box:active{
    animation-name: hov;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: alternate;        
}

@keyframes hov {
    100%{
        background-color: rgba(73, 73, 73, 0.356);
        transform:scale(0.07);
        border-radius: 100%;
    }
}



.version{
    margin-top: 5%;
    grid-row: 4/5;
    grid-column: 2/3;
}



.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    width: 6em;
    height: 7.5em;
    background-color: rgb(10, 110, 110);
    position: absolute;
    opacity: 0.90;
    box-shadow: 0 0 10px 2px black;
    border-radius: 10%;
    text-shadow: 2px 2px rgb(116, 105, 105);
} 

.button{
    font-size: 30px;
    border:none;
    border-radius: 10%;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px 1px rgb(102, 70, 70);
}

.winCard{
    display: none;
}

.loseCard{
    display: none;
}